<!DOCTYPE html>
<html>
<head>
  <title>Donate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% if flash[:notice] %>
			<div class="alert-success">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
		
		<%= yield %>
		<%= debug("#{params['controller']}\##{params['action']}") %>
	</div>

</body>
</html>
